
-- PR-01: top_selling_products view
-- JOIN salesdetail + product, GROUP BY prodcode, ORDER BY total_qty DESC

CREATE OR REPLACE VIEW top_selling_products AS
SELECT
  sd.prodcode,
  p.description,
  p.unit,
  p.record_status,
  SUM(sd.quantity) AS total_qty
FROM salesdetail sd
JOIN product p ON sd.prodcode = p.prodcode
GROUP BY
  sd.prodcode,
  p.description,
  p.unit,
  p.record_status
ORDER BY total_qty DESC;